.ease-setting-module {
    min-width: 610px;
    width: 100%;
    height: 145px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    background-color: #fff;
    .ant-tabs-tab {
        border-radius: 0 !important;
        border-right: 0 !important;
        padding: 10px 8px !important;
        background-color: #f9f9f9 !important;
        &:last-child {
            border-right: 1px solid rgba(5,5,5,0.06) !important;
        }
    }
    .ant-tabs-tab-active {
        background-color: #fff !important;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 20px;
            border-bottom: 2px solid red !important;
        }
    }
    .ant-tabs-tab+.ant-tabs-tab {
        margin-left: 0 !important;
    }
}