.ease-exchange-select {
  width: 250px;
  height: 145px;
  background: #ffffff;
  border: 1px solid #e1e2e2;
  padding: 10px;
  color: #333333;
  box-sizing: border-box;

  .title {
    display: flex;
    align-items: center;
    .line {
      width: 2px;
      height: 11px;
      background: #fc5453;
      border: 1px solid #fc5453;
      margin-right: 6px;
    }
  }
  .container-wrap {
    margin-top: 12px;
    margin-bottom: 14px;
    .item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .text-btn {
      color: #4285f4;
      cursor: pointer;
      width: 74px;
      line-height: 21px;
      text-align: start;
    }
  }
  .btn {
    height: 24px;
    width: 160px;
  }
}
