.ease-table-list {
  .triangle {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #999999;
    transform: rotate(180deg);
    margin-left: 4px;
  }
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    font-size: 13px;
    position: relative;
    height: 41px;
    .top-bar-left {
      display: flex;
      align-items: center;
      .category {
        display: flex;
        align-items: center;
        margin-right: 16px;
        color: #fc5453;
        &::after {
            content: "";
            border-bottom: 2px solid #fc5453;
            position: absolute;
            bottom: 0;
            left: 8px;
            width: 52px;
        }
      }
      .message {
        display: flex;
        align-items: center;
        .message-title {
          margin-right: 16px;
        }
        .item {
          margin-right: 16px;
          .item:last-child {
            margin-right: 0;
          }
        }

        .right-icon {
          transform: rotate(-90deg);
        }
        .left-icon {
          transform: rotate(90deg);
        }
      }
    }
    .top-bar-center {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #4285f4;
    }
    .top-bar-right {
      .btn {
        margin-right: 12px;
      }
    }
  }
    //   table 自定义样式
  .ant-table-wrapper .ant-table-thead >tr>th, .ant-table-wrapper .ant-table-thead >tr>td {
    padding: 10px 8px !important;
    background: #EEF0F2;
  }
  .ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-content >table >thead>tr>th, .ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-header >table >thead>tr>th, :where(.css-dev-only-do-not-override-1r32kyx).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-body >table >thead>tr>th, :where(.css-dev-only-do-not-override-1r32kyx).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-summary >table >thead>tr>th, :where(.css-dev-only-do-not-override-1r32kyx).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-content >table >tbody>tr>td, :where(.css-dev-only-do-not-override-1r32kyx).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-header >table >tbody>tr>td, :where(.css-dev-only-do-not-override-1r32kyx).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-body >table >tbody>tr>td, :where(.css-dev-only-do-not-override-1r32kyx).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-summary >table >tbody>tr>td, :where(.css-dev-only-do-not-override-1r32kyx).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-content >table >tfoot>tr>th, :where(.css-dev-only-do-not-override-1r32kyx).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-header >table >tfoot>tr>th, :where(.css-dev-only-do-not-override-1r32kyx).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-body >table >tfoot>tr>th, :where(.css-dev-only-do-not-override-1r32kyx).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-summary >table >tfoot>tr>th, :where(.css-dev-only-do-not-override-1r32kyx).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-content >table >tfoot>tr>td, :where(.css-dev-only-do-not-override-1r32kyx).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-header >table >tfoot>tr>td, :where(.css-dev-only-do-not-override-1r32kyx).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-body >table >tfoot>tr>td, :where(.css-dev-only-do-not-override-1r32kyx).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-summary >table >tfoot>tr>td {
    border-inline-end: 1px solid rgba(1,1,1,0.06) !important;
  }
  .ant-table-wrapper .ant-table-tbody >tr.ant-table-row:hover>td,  .ant-table-tbody >tr >td.ant-table-cell-row-hover {
    background: rgba(66,133,244,0.15)
  }
    .ant-table-wrapper .ant-table-tbody>tr>td {
        padding: 6px 8px;
    }

    .ant-checkbox + span {
        margin-right: 0px !important;
    }
}
